.about-us {
    text-align: center;
    &__text {
        @include flexbox (column, space-between, center)
    }
    &__title {
        flex: 29px;
    }
    &__descr {
        font-size: 29px;
        line-height: 35px;
    }
}