%animation-underline {
    position: relative;
    overflow: hidden;
    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        position: absolute;
        height: 2px;
        background: black;
        bottom: 0;
        left: 100%;
    }
    &:hover::after {
        left: 0;
        transition: 0.3s;
    }
}
%increase-scale {
    transition: 0.4s;
    transform: scale(1);
    &:hover {
        transform: scale(1.1);
    }
}
@mixin underline ($color) {
    position: relative;
    overflow: hidden;
    &::after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        height: 1px;
        background: $color;
        bottom: 0;
        left: 0;
        transform: scale(0);
        transition: 0.3s;
    }
    &:hover::after {
        transform: scale(1);
    }
}
@mixin box-shadow ($color) {
    &:hover {
        box-shadow: 0 0 30px 0.5px $color;
    }
}
@mixin change-color($color, $bg) {
    transition: 0.4s;
    &:hover {
        color: $color;
        background: $bg;
    }
}
%darken {
    transition: 0.4s;
    &:hover {
        background:#185259;
        color: white;
    }
}