.biography {
    padding: 200px 0;
    @include flexbox (row, space-between, center);
    &__portrait {
        position: relative;
        width: 40%;
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__info {
        @include flexbox (column, space-between, flex-start);
        position: absolute;
        top: 10%;
        left: 5%;
        min-height: 25%;
    }
    &__item {
        background-color:  rgba(255, 255, 255, .7);
        color: black;
        line-height: 22px;
        font-size: 24px;
        font-weight: 200;
        padding: 10px;
        transition: 0.4s;
        &:hover {
            background-color:  rgba(0, 0, 0, .5);
            color: white;
        }
    }
}