.footer {
    position: relative;
    padding-bottom: 50px;
    @include flexbox(column, space-between, center);
    &__row {
        @include flexbox(row, space-between, center);
        flex-wrap: wrap;
        margin: 0 auto;
        width: 90%;
        padding: 100px 0;
        border-top: 0.5px solid black;
    }
    &__title {
        @extend %logo-text;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin: 50px 0;
    }
    &__info {
        width: 30%;
        min-height: 150px;
        @include flexbox(column, space-around, stretch);
        text-align: center;

        &--form {
            width: 100%;
            @include flexbox(column, space-between, center);
        }
        &--absolute {
            position: absolute;
            top: -15%;
            background: white;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.4s;
            padding: 10px;
            @include box-shadow(rgba(160, 153, 144, 0.712));
        }
    }
    &__text {
        display: block;
        font-size: 14px;
        position: relative;
        color: black;
        &::before {
            content: '';
            display: inline-block;
            height: 20px;
            width: 20px;
            background: url(../design/gitlab.png) center no-repeat;
            background-size: cover;
            position: absolute;
            left: -30%;
            top: -16%;
        }
    }
}
.menu {
    &--footer {
        flex-direction: column;
    }
    &__item {
        &--footer {
            font-weight: 200;
            margin-bottom: 20px;
        }
    }
}
.medias {
    @include flexbox(row, space-between, center);
    &__link {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &--insta {
            background-image: url(../design/insta.png);
        }
        &--fb {
            background-image: url(../design/facebook.png);
        }
        &--pint {
            background-image: url(../design/pinterest.png);
        }
        @extend %increase-scale;
    }
}