.header {
    padding: 60px 0;
    &__row {
        @include flexbox(row, space-between, center);
    }
    &__group {
        @include flexbox(row, space-between, center);
    }
}
.logo {
    @extend %logo-text;
}
.menu {
    @include flexbox(row, space-between, center);
    &__item {
        font-weight: bold;
        color: black;
        margin: 0 20px;
        text-transform: uppercase;
        @include underline(black);
    }
}
.basket {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../design/basket.png) center no-repeat;
    background-size: cover;
}
.bars {
    display: none;
    width: 20px;
    height: 20px;
    background: url(../design/open-menu.png) center no-repeat;
    background-size: cover;
}