.introduce {
    margin: 100px 0;
    @include flexbox (row, space-between, center);
}
.parallax {
    @include grid (100%, 4fr 1fr 3fr 2fr 2fr 3fr 4fr 1fr);
    min-height: 400px;
    column-gap: 5%;
    row-gap: 5%;
    width: 40%;
    &__item {
        background-image: url(../content/maintainer.jpg);
        background-size: 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    &__title {
        color: #753e3e;
        text-transform: uppercase;
        margin: 0;
        display: inline-block;
        letter-spacing: 2px;
        font-size: 30px;
    }
    &__text {
        color: white;
        margin: 0;
        display: inline-block;
        font-size: 24px;
    }
}