@media screen and (max-width: 1255px) {
    .products {
        &__gallery {
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-template-rows: repeat(4, 250px);
        }
    }
    .paragraph {
        &--products {
            width: 100%;
        }
    }
}
@media screen and (max-width: 1024px) {
    .header {
        &__group {
            width: 20%;
        }
    }
    .promo {
        grid-template-rows: repeat(2, 300px);
        grid-template-columns: auto;
        row-gap: 5%;
        &__link {
            height: 100%;
        }
        &__img {
            height: 100%;
            object-fit: cover;
        }
    }
}
@media screen and (max-width: 768px) {
    .header {
        &__row {
            flex-direction: column;
            align-items: center;
        }
        &__group {
            flex-direction: row-reverse;
        }
    }
    .menu {
        width: 90%;
        &__item {
            margin: 30px 0;
        }
    }
    .products {
        flex-direction: column;
        &__gallery {
            grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
            grid-template-rows: 1fr 1fr ;
        }
    }
    .biography {
        padding: 50px 0;
    }
}
@media screen and (max-width: 480px) {
    .header {
        &__row {
            flex-direction: row;
        }
        &__group {
            display: none;
        }
    }
    .menu {
        display: none;
        &--footer {
            display: flex;
        }
        &__item {
            &--footer {
                margin: 10px 0;
            }
        }
    }
    .bars {
        display: inline-block;
    }
    .introduce {
        margin-top: 200px;
    }
    .biography {
        padding: 50px 0;
        &__portrait {
            width: 100%;
        }
    }
    .paragraph--bio {
        display: none;
    }
    .footer {
        &__info {
            &--absolute {
                width: 70%;
            }
        }
    }
}