.paragraph {
    @include flexbox (column, space-between, flex-start);
    &__title {
        color: $title-color;
        font-weight: 500;
        @include underline(rgb(65, 12, 12));
    }
    &__text {
        line-height: 34px;
        font-weight: 100;
    }
    width: 50%;
}