.promo {
    @include grid (repeat(2, 1fr), 1);
    column-gap: 5%;
    margin: 100px 0;
    &__item {
        display: inline-block;
    }
    &__link {
        display: inline-block;
        position: relative;
        width: 100%;
    }
    &__img {
        display: block;
        filter: blur(8px);
        -webkit-filter: blur(1px);
        width: 100%;
        transition: 0.4s;
        &:hover {
            -webkit-filter: blur(0px);
        }
    }
    &__text {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
    }
    &__title {
        text-transform: uppercase;
        color: $title-color;
        font-size: 40px;
        font-weight: 900;
        margin: 0;
        margin-bottom: 10px;
    }
    &__btn {
        color: #185259;
        padding: 15px 70px;
        border-radius: 20px;
        text-transform: capitalize;
        font-size: 16px;
        cursor: pointer;
        border: none;
        transition: 0.4s;
       @extend %darken;
    }
}