.products {
    @include flexbox(row, space-between, flex-start);
    &__gallery {
        @include grid (repeat(auto-fill, minmax(300px, 1fr)), repeat(2, 300px));
        column-gap: 5%;
        row-gap: 5%;
        padding: 70px;
    }
    &__product {
        overflow: hidden;
        max-height: 300px;
        position: relative;
    }
    &__link {
        display: inline-block;
        height: 100%;
        width: 100%;
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @extend %increase-scale;
    }
    &__text {
        position: absolute;
        bottom: 10%;
        left: 10%;
        padding: 15px;
        text-align: right;
        background-color:  rgba(255, 255, 255, .3);
    }
    &__title {
        color: $title-color;
        font-size: 30px;
    }
    &__price {
        color: black;
        font-weight: 200;
    }
}