.search-form {
    @include flexbox(row, center, flex-end);
    position: relative;
    width: 60%;
    height: 30px;
    &::before {
        content: '';
        display: inline-block;
        background: url(../design/search.png) right center no-repeat;
        background-size: cover;
        height: 20px;
        width: 20px;
        position: absolute;
        bottom: 5px;
        right: 0;
    }
    @extend %animation-underline;
    &__input {
        width: 100%;
        border: none;
        outline: none;
        &::placeholder {
            font-size: 24px;
        }
    }
    &:hover::after,
    &:focus-within::after {
        left: 0;
    }
}
 // @extend %animation-underline;