.wrapper {
    position: relative;
    @include flexbox(row, center, center)
}
.main-title {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    background: url(../content/title.png) center no-repeat;
    background-size: contain;
    height: 50px;
    width: 80%;
}