.form-wrapper {
    width: 50%;
}
.subscribe-form {
    @include flexbox(column, space-between, stretch);
    &__input {
        padding: 20px;
        outline: none;
        border: 1px solid black;
        &::placeholder {
            font-size: 14px;
            text-transform: uppercase;
            color: black;
            font-weight: 300;
            letter-spacing: 0.4em;
        }
        @include change-color(white, black);
        &:hover::placeholder {
            color: white;
        }
    }
    &__btn {
        cursor: pointer;
        padding: 20px;
        outline: none;
        border: 1px solid black;
        border-top: none;
        font-size: 14px;
        text-transform: uppercase;
        color: black;
        letter-spacing: 5px;
        font-weight: 300;
        text-align-last: left;
        @include change-color(white, black);
    }
}