$title-color: black;

%logo-text {
    font-size: 24px;
    letter-spacing: 20px;
    font-weight: 800;
    color: black;
}


@mixin flexbox ($fd, $jc, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}
@mixin grid ($columns, $rows) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    justify-content: center;
}