* {
    box-sizing: border-box;
}
 body {
     margin: 0;
     font-family: 'Montserrat', sans-serif;
 }
 .container {
     display: block;
     width: 90%;
     margin: 0 auto;
 }
 a {
     text-decoration: none;
 }
 @import 'tools';
 @import 'animations';
 @import 'header';
 @import 'search-form';
 @import 'slider';
 @import 'about-us';
 @import 'promo';
 @import 'paragraph';
 @import 'products';
 @import 'introduce';
 @import 'biography';
 @import 'footer';
 @import 'subscribe-form';
 @import 'medias';