* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: block;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.footer__title, .logo {
  font-size: 24px;
  letter-spacing: 20px;
  font-weight: 800;
  color: black;
}

.search-form {
  position: relative;
  overflow: hidden;
}
.search-form::after {
  content: "";
  display: inline-block;
  width: 100%;
  position: absolute;
  height: 2px;
  background: black;
  bottom: 0;
  left: 100%;
}
.search-form:hover::after {
  left: 0;
  transition: 0.3s;
}

.medias__link, .products__img {
  transition: 0.4s;
  transform: scale(1);
}
.medias__link:hover, .products__img:hover {
  transform: scale(1.1);
}

.promo__btn {
  transition: 0.4s;
}
.promo__btn:hover {
  background: #185259;
  color: white;
}

.header {
  padding: 60px 0;
}
.header__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  font-weight: bold;
  color: black;
  margin: 0 20px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}
.menu__item::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 1px;
  background: black;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: 0.3s;
}
.menu__item:hover::after {
  transform: scale(1);
}

.basket {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../design/basket.png) center no-repeat;
  background-size: cover;
}

.bars {
  display: none;
  width: 20px;
  height: 20px;
  background: url(../design/open-menu.png) center no-repeat;
  background-size: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 60%;
  height: 30px;
}
.search-form::before {
  content: "";
  display: inline-block;
  background: url(../design/search.png) right center no-repeat;
  background-size: cover;
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 5px;
  right: 0;
}
.search-form__input {
  width: 100%;
  border: none;
  outline: none;
}
.search-form__input::placeholder {
  font-size: 24px;
}
.search-form:hover::after, .search-form:focus-within::after {
  left: 0;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-title {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  background: url(../content/title.png) center no-repeat;
  background-size: contain;
  height: 50px;
  width: 80%;
}

.about-us {
  text-align: center;
}
.about-us__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about-us__title {
  flex: 29px;
}
.about-us__descr {
  font-size: 29px;
  line-height: 35px;
}

.promo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1;
  justify-content: center;
  column-gap: 5%;
  margin: 100px 0;
}
.promo__item {
  display: inline-block;
}
.promo__link {
  display: inline-block;
  position: relative;
  width: 100%;
}
.promo__img {
  display: block;
  filter: blur(8px);
  -webkit-filter: blur(1px);
  width: 100%;
  transition: 0.4s;
}
.promo__img:hover {
  -webkit-filter: blur(0px);
}
.promo__text {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.promo__title {
  text-transform: uppercase;
  color: black;
  font-size: 40px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 10px;
}
.promo__btn {
  color: #185259;
  padding: 15px 70px;
  border-radius: 20px;
  text-transform: capitalize;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: 0.4s;
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}
.paragraph__title {
  color: black;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}
.paragraph__title::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 1px;
  background: #410c0c;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: 0.3s;
}
.paragraph__title:hover::after {
  transform: scale(1);
}
.paragraph__text {
  line-height: 34px;
  font-weight: 100;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.products__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 300px);
  justify-content: center;
  column-gap: 5%;
  row-gap: 5%;
  padding: 70px;
}
.products__product {
  overflow: hidden;
  max-height: 300px;
  position: relative;
}
.products__link {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.products__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products__text {
  position: absolute;
  bottom: 10%;
  left: 10%;
  padding: 15px;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.3);
}
.products__title {
  color: black;
  font-size: 30px;
}
.products__price {
  color: black;
  font-weight: 200;
}

.introduce {
  margin: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.parallax {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 4fr 1fr 3fr 2fr 2fr 3fr 4fr 1fr;
  justify-content: center;
  min-height: 400px;
  column-gap: 5%;
  row-gap: 5%;
  width: 40%;
}
.parallax__item {
  background-image: url(../content/maintainer.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.parallax__title {
  color: #753e3e;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
  letter-spacing: 2px;
  font-size: 30px;
}
.parallax__text {
  color: white;
  margin: 0;
  display: inline-block;
  font-size: 24px;
}

.biography {
  padding: 200px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.biography__portrait {
  position: relative;
  width: 40%;
}
.biography__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.biography__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 10%;
  left: 5%;
  min-height: 25%;
}
.biography__item {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  line-height: 22px;
  font-size: 24px;
  font-weight: 200;
  padding: 10px;
  transition: 0.4s;
}
.biography__item:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.footer {
  position: relative;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  padding: 100px 0;
  border-top: 0.5px solid black;
}
.footer__title {
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: 50px 0;
}
.footer__info {
  width: 30%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
}
.footer__info--form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__info--absolute {
  position: absolute;
  top: -15%;
  background: white;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s;
  padding: 10px;
}
.footer__info--absolute:hover {
  box-shadow: 0 0 30px 0.5px rgba(160, 153, 144, 0.712);
}
.footer__text {
  display: block;
  font-size: 14px;
  position: relative;
  color: black;
}
.footer__text::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background: url(../design/gitlab.png) center no-repeat;
  background-size: cover;
  position: absolute;
  left: -30%;
  top: -16%;
}

.menu--footer {
  flex-direction: column;
}
.menu__item--footer {
  font-weight: 200;
  margin-bottom: 20px;
}

.medias {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.medias__link {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.medias__link--insta {
  background-image: url(../design/insta.png);
}
.medias__link--fb {
  background-image: url(../design/facebook.png);
}
.medias__link--pint {
  background-image: url(../design/pinterest.png);
}

.form-wrapper {
  width: 50%;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.subscribe-form__input {
  padding: 20px;
  outline: none;
  border: 1px solid black;
  transition: 0.4s;
}
.subscribe-form__input::placeholder {
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  font-weight: 300;
  letter-spacing: 0.4em;
}
.subscribe-form__input:hover {
  color: white;
  background: black;
}
.subscribe-form__input:hover::placeholder {
  color: white;
}
.subscribe-form__btn {
  cursor: pointer;
  padding: 20px;
  outline: none;
  border: 1px solid black;
  border-top: none;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 5px;
  font-weight: 300;
  text-align-last: left;
  transition: 0.4s;
}
.subscribe-form__btn:hover {
  color: white;
  background: black;
}

@media screen and (max-width: 1255px) {
  .products__gallery {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(4, 250px);
  }

  .paragraph--products {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .header__group {
    width: 20%;
  }

  .promo {
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: auto;
    row-gap: 5%;
  }
  .promo__link {
    height: 100%;
  }
  .promo__img {
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  .header__row {
    flex-direction: column;
    align-items: center;
  }
  .header__group {
    flex-direction: row-reverse;
  }

  .menu {
    width: 90%;
  }
  .menu__item {
    margin: 30px 0;
  }

  .products {
    flex-direction: column;
  }
  .products__gallery {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-template-rows: 1fr 1fr;
  }

  .biography {
    padding: 50px 0;
  }
}
@media screen and (max-width: 480px) {
  .header__row {
    flex-direction: row;
  }
  .header__group {
    display: none;
  }

  .menu {
    display: none;
  }
  .menu--footer {
    display: flex;
  }
  .menu__item--footer {
    margin: 10px 0;
  }

  .bars {
    display: inline-block;
  }

  .introduce {
    margin-top: 200px;
  }

  .biography {
    padding: 50px 0;
  }
  .biography__portrait {
    width: 100%;
  }

  .paragraph--bio {
    display: none;
  }

  .footer__info--absolute {
    width: 70%;
  }
}

/*# sourceMappingURL=styles.css.map */
